name: Metrics
on:
  # Schedule updates every 24 hours
  schedule: [{cron: "0 0 * * *"}]
  # Allows you to run it manually at any time
  workflow_dispatch:
  # Run on every push to the main branch
  push: {branches: ["master", "main"]}

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          filename: metrics.plugin.isocalendar.fullyear.svg
          token: ${{ secrets.METRICS_TOKEN }}
          base: ""
          plugin_isocalendar: yes
          plugin_isocalendar_duration: full-year
